<h1>Add a new game to your library</h1>

<form action="/games" method="POST">
  <p>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />
  </p>
  <p>
    <label for="genre">Genre:</label>
    <input type="text" name="genre" id="genre" />
  </p>

  <input type="submit" />
  
</form>
